absl-py==2.3.1
alembic==1.17.2
astunparse==1.6.3
blinker==1.9.0
cachetools==6.2.2
cloudpickle==3.1.2
contourpy==1.3.3
cryptography==46.0.3
cycler==0.12.1
databricks-sdk==0.74.0
docker==7.1.0
easygui==0.98.3
fastapi
ffmpy
filelock==3.19.1
Flask==3.1.2
flask-cors==6.0.1
flatbuffers==25.9.23
fonttools==4.61.1
gast==0.7.0
gitdb==4.0.12
GitPython==3.1.45
google-auth==2.43.0
google-pasta==0.2.0
gradio
gradio_client
graphene==3.4.3
graphql-core==3.2.7
graphql-relay==3.2.0
greenlet==3.3.0
grpcio==1.76.0
h5py==3.15.1
huey==2.5.5
idna
importlib_metadata==8.7.0
itsdangerous==2.2.0
Jinja2
joblib==1.5.2
keras==3.12.0
kiwisolver==1.4.9
kornia==0.8.2
kornia_rs==0.1.10
libclang==18.1.1
lz4==4.4.5
Mako==1.3.10
Markdown==3.10
MarkupSafe==2.1.5
matplotlib==3.10.8
mkl-service==2.5.2
ml_dtypes==0.5.4
mlflow==3.7.0
mlflow-skinny==3.7.0
mlflow-tracing==3.7.0
mpmath==1.3.0
mtcnn==1.0.0
namex==0.1.0
networkx==3.5
numpy==2.2.6
opencv-python==4.12.0.88
opt_einsum==3.4.0
optree==0.18.0
pandas==2.3.3
pillow
protobuf==6.33.2
pyarrow==22.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pydantic
pydantic_core
pydub
pyparsing==3.2.5
python-dateutil
python-dotenv==1.2.1
pytz
PyYAML
requests
rsa==4.9.1
scikit-learn==1.8.0
scipy==1.16.3
semantic_version
setuptools==80.9.0
six
smmap==5.0.2
SQLAlchemy==2.0.45
sqlparse==0.5.4
sympy==1.14.0
tensorboard==2.20.0
tensorboard-data-server==0.7.2
tensorflow==2.20.0
termcolor==3.2.0
threadpoolctl==3.6.0
torch==2.7.0+cu126
torchvision==0.22.0+cu126
tqdm
typer==0.20.0
typing_extensions
tzdata
urllib3
uvicorn
waitress==3.0.2
websockets
Werkzeug==3.1.4
wheel==0.45.1
wrapt==2.0.1
zipp==3.23.0
